*{
 margin: 4px;
 padding: 4px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
}
#header{
 min-height: 130px;
 background-color: green;
}
#navigation{
 min-height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
 padding: 4px;
}
#main_content{
 min-height: 400px;
 width: 700px;
 background-color: red;
 display: inline-block;
 vertical-align: top;
 margin: 6px 10px;

}
.subcontents{
 min-height: 180px;
 min-width: 180px;
 background-color: yellow;
 display:inline-block;
 padding: 10px;
 margin: 10px;
}
#advertisement{
 min-height: 120px;
 width: 660px;
 background-color: purple;
 margin: 20px;

}